.ipynb_checkpoints
*.ipynb
UnconfinedFlow/diagram.png
UnconfinedFlow/diagram.pptx
UnconfinedFlow/hydraulic_conductivity.png
UnconfinedFlow/UnconfinedFlow-WithRecharge.docx
UnconfinedFlow/UnconfinedFlowWithRecharge.xlsx
UnconfinedFlow/notebook
HydrogeologyTextbook.pdf