HydrogeologyTextbook.pdf
hydrogeo-apps.docx

UnconfinedFlow/diagram.png
UnconfinedFlow/diagram.pptx
UnconfinedFlow/hydraulic_conductivity.png
UnconfinedFlow/UnconfinedFlow-WithRecharge.docx
UnconfinedFlow/UnconfinedFlowWithRecharge.xlsx
UnconfinedFlow/notebook

Storativity/.idea
Storativity/__pycache__
Storativity/venv
Storativity/alpha.xlsx
Storativity/porosity.xlsx

Thiem/.idea
Thiem/__pycache__
Thiem/venv

Dupuit-Forchheimer/.idea
Dupuit-Forchheimer/__pycache__
Dupuit-Forchheimer/venv